html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body { 
  padding-top: 41px;
}

.ui-content {
  padding: 0;
}

.portrait, .portrait #mappage {
  min-height: 0;
}

#mappage, #mappage .ui-content, #map {
  width: 100%;
  height: 100%;
}

#buttons {
  top: 6px;
  position: absolute;
  z-index: 1000;
  right: 20px;
}

#navigation {
  position: absolute;
  top: 200px;
  right: 55px;
  z-index: 1000;
}

#pan {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1000;
}

#pan #leftright {
  margin: 0;
}

#pan #up {
  margin-left: 30px;
}

#pan #down {
  margin-left: 30px;
}

#navigation #locate {
  margin-left: 0;
}

#popUpHeader {
  padding: 10px;
  text-align: center;
}

#popUpContent {
  padding: 5px;
}

#popUpFooter {
  padding: 5px;
}

#popUpHeader a {
  color: white;
  text-decoration: none;
}

#popUpFooter a {
  color: white;
  text-decoration: none;
}

.ui-icon-check {
  opacity: 0.3;
}

.checked .ui-icon-check {
  opacity: 1;
}

.ui-icon-locate {
  background-image: url(../images/locate.png);
}

.olControlAttribution {
  font-size: smaller;
  right: 3px;
  bottom: 4px !important;
  position: absolute;
  display: block;
}

.olImageLoadError {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}
