html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 302px;
  background-color: #505050;
  color: #e1e1e1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.ui-content {
    padding: 0;
}

.ui-content .ui-listview {
    margin: 0;
}

.ui-bar-a .ui-link,
.ui-bar-a .ui-link:visited {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a.ui-btn:hover {
  color: #fff;
  text-decoration: none;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  color: rgb(184, 184, 184);
}

.nav > li > a.category-filter.out {
  opacity:0.3;
  filter:alpha(opacity=30);
}

.ui-br {
  border-bottom-width: 0;
  border-bottom-style: none;
}

.taukkis .navbar-inverse .btn-navbar, .taukkis .btn {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3f3f2b;
  *background-color: #353524;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3f3f2b), to(#353524));
  background-image: -webkit-linear-gradient(top, #3f3f2b, #353524);
  background-image: -o-linear-gradient(top, #3f3f2b, #353524);
  background-image: linear-gradient(to bottom, #3f3f2b, #353524);
  background-image: -moz-linear-gradient(top, #3f3f2b, #353524);
  background-repeat: repeat-x;
  border-color: #353524 #353524 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff3f3f2b', endColorstr='#ff353524', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.taukkis .navbar-inverse .btn-navbar:hover,
.taukkis .navbar-inverse .btn-navbar:active,
.taukkis .navbar-inverse .btn-navbar.active,
.taukkis .navbar-inverse .btn-navbar.disabled,
.taukkis .navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #353524;
  *background-color: #000000;
}

.taukkis .navbar-inverse .btn-navbar:active,
.taukkis .navbar-inverse .btn-navbar.active {
  background-color: #3f3f2b \9;
}

.taukkis-logo {
  float: left;
  margin: 5px 0 0 10px;
  display: inline-block;
  width: 67px;
  height: 30px;
  background-size: 67px 30px;
  line-height: 30px;
  vertical-align: center;
  background-repeat: no-repeat;
  background-image: url('images/taukkis-logo.png');
}

/* FIXME: terqi mellowille ^__^ */
.taukkis-buttons {
  position: absolute;
  right: 90px;
}

#destination-content, #error-content {
  padding: 10px;
}

#map {
  display: block;
  position: absolute;
  top: > 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#detail-map {
  display: block;
  margin: 10px 0;
  width: 1004px;
  height: 502px;
}

.ui-page .ui-header {
  z-index:1024;
}

.olControlAttribution {
  position      : absolute;
  font-size     : 10px;
  bottom        : 0 !important;
  right         : 0 !important;
  background    : rgba(0,0,0,0.1);
  font-family   : Arial;
  padding       : 2px 4px;
  border-radius : 5px 0 0 0;
}

.poi-info {
  padding: 5px;
}

.poi-info .title {
  padding: 0 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.poi-info .categories ul {
  padding: 3px;
  margin: 0;
  list-style: none
}

.poi-info .categories li {
  margin: 3px 0;
  font-size: 14px;
  line-height: 24px;
}

.poi-info .close {
  float: right;
}

.poi-info .detail {
  margin-top: 6px;
}

.poi-info .detail a {
  font-size: 14px;
  line-height: 20px;
  color: #3f3f2b;
}

#detail-content {
  min-width: 260px;
  padding: 10px;
  display: block;
  overflow: visible;
}

#detail #close {
  position: relative;
  top: -20px;
  left: 18px;
  float: right;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

#detail-content .details {
  width: 1004px;
}

#detail-content .title {
  width: 904px;
  font-size: 18px;
  font-weight: bold;
}

#detail-content .categories ul {
  margin: 0;
  list-style: none
}

#detail-content .categories li {
  margin: 3px 0;
  line-height: 24px;
}

#detail-content .time-left {
  margin-top: 10px;
  width: 100px;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #c1c1c1;
}

.error .title {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

/* timeline */

.timeline .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 666;
  -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.6);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.6);
}

.timeline .list-header,
.timeline .list-items {
  color: #e1e1e1;
}

.timeline .list-header {
  position: fixed;
  bottom: 0px; /* top: 50px; */
  min-width: 302px;
  width: 100%;
  z-index: 1;
  height: 54px;
  background: #373737;
  clear: both;
}

.timeline .list-header div {
  float: left;
  line-height: 54px;
  font-size: 16px;
  font-weight: bold;
}

.timeline .list-header div:first-child {
  margin-left: 10px;
}

.timeline .road {
  width: 19px;
  background: #353535 url('images/road.png') repeat-y;
}

.timeline .list-header .road {
  position: relative;
  height: 54px;
  background: #282828 url('images/road.png') repeat-y;
}

.timeline .list-header .time {
  float: left;
  width: 100px;
  text-align: center;
}

.timeline .list-header div:last-child {
  float: right;
}

.timeline .list-items {
  overflow: hidden;
  padding-top: 49px; /* padding-top: 104px; */
  padding-bottom: 54px;
}

.timeline .list-item {
  display: block;
  height: 80px;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #e1e1e1;
  background: #5a5a5a;
  background: -moz-linear-gradient(top,  #5a5a5a 0%, #505050 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5a5a), color-stop(100%,#505050));
  background: -webkit-linear-gradient(top,  #5a5a5a 0%,#505050 100%);
  background: -o-linear-gradient(top,  #5a5a5a 0%,#505050 100%);
  background: -ms-linear-gradient(top,  #5a5a5a 0%,#505050 100%);
  background: linear-gradient(to bottom,  #5a5a5a 0%,#505050 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#505050',GradientType=0 );
}

.timeline .list-item.weather {
  background: #737849;
  background: -moz-linear-gradient(top, #737849 1%, #626a3e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#737849), color-stop(100%,#626a3e));
  background: -webkit-linear-gradient(top, #737849 1%,#626a3e 100%);
  background: -o-linear-gradient(top, #737849 1%,#626a3e 100%);
  background: -ms-linear-gradient(top, #737849 1%,#626a3e 100%);
  background: linear-gradient(to bottom, #737849 1%,#626a3e 100%);
}

.timeline .list-item.passed {
}

.timeline .list-item .information {
  float: left;
  overflow: hidden;
  padding: 12px 0 8px 10px;
  width: 879px;
}

.timeline .list-item .information .categories{
  padding-left: 2px;
}

.timeline .list-item .time {
  float: right;
  width: 100px;
  text-align: center;
  line-height: 78px;
}

.timeline .list-item .road {
  float: left;
  height: 80px;
}

.timeline .empty {
  display: table;
  position: relative;
  padding-top: 53px;
  width: 100%;
  height: 80px;
}

.timeline .empty span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.timeline .forecast {
  padding-top: 6px;
}
.timeline .forecast span {
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

#destinationSelection {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  /* border: 16px solid orange; */
  background-color: white;
  z-index:1002;
  overflow: auto;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.t-clock {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-top: -2px;
  background-size: 26px 26px;
  background-image: url('images/taukkis-clock.png');
  background-repeat: no-repeat;
  vertical-align: text-top;
  line-height: 54px;
}

.t-car {
  display: inline-block;
  width: 20px;
  height: 40px;
  margin-top: -8px;
  background-size: 20px 40px;
  background-image: url('images/taukkis-car.png');
  background-repeat: no-repeat;
  vertical-align: text-top;
  line-height: 54px;
}

[class^="taukkis-weather-"],
[class*=" taukkis-weather-"] {
  display: inline-block;
  width: 26px;
  height: 22px;
  background-size: 26px 22px;
  margin-top: -2px;
  margin-right: 3px;
  line-height: 20px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.taukkis-weather-0 {
  background-image: url('images/taukkis-weather-0.png');
}

.taukkis-weather-1 {
  background-image: url('images/taukkis-weather-1.png');
}

.taukkis-weather-2 {
  background-image: url('images/taukkis-weather-2.png');
}

.taukkis-weather-3 {
  background-image: url('images/taukkis-weather-3.png');
}

.taukkis-weather-4 {
  background-image: url('images/taukkis-weather-4.png');
}

.taukkis-weather-5 {
  background-image: url('images/taukkis-weather-5.png');
}

.taukkis-weather-6 {
  background-image: url('images/taukkis-weather-6.png');
}

[class^="t-icon-"],
[class*=" t-icon-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-top: -2px;
  margin-right: 3px;
  line-height: 20px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.t-medium-icon {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  line-height: 24px;
}

#detail-content li .t-medium-icon,
.poi-info .categories li .t-medium-icon {
  margin-top: -4px;
}

.t-icon-gas_station {
  background-image: url('images/gas_station.png');
}

.t-icon-cafe {
  background-image: url('images/cafe.png');
}

.t-icon-kiosk {
  background-image: url('images/kiosk.png');
}

.t-icon-sight {
  background-image: url('images/sight.png');
}

.t-icon-fast_food {
  background-image: url('images/fast_food.png');
}

.t-icon-restaurant {
  background-image: url('images/restaurant.png');
}

.t-icon-swimming_place {
  background-image: url('images/swimming_place.png');
}

.t-icon-leisure {
  background-image: url('images/leisure.png');
}

.t-icon-default {
  background-image: url('images/default.png');
}

.ui-loader {
  position: fixed;
  left: 50%;
  z-index: 99999;
  margin-left: -50px;
  margin-top: -35px;
  padding: 0;
  width: 100px;
  height: 100px;
  background: none;
  border: 0;
}

.ui-loader .ui-icon {
  margin: 16px auto;
  width: 66px;
  height: 66px;
}

.ui-icon-loading {
  background-image: url(images/ajax-loader.gif);
  width: 66px;
  height: 66px;
  background-size: 66px 66px;
}

.fb-comments {
  margin: 14px 0;
}

.star-rating {
  list-style:none;
  margin-left:5px !important;
  padding:0px;
  width: 125px;
  height: 25px;
  position: relative;
  background: url(images/stars.gif) top left repeat-x;
}

.star-rating li {
  padding:0px;
  margin:0px;
  float: left;
}

.star-rating li a {
  display:block;
  width:25px;
  height: 25px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0px;
}

.star-rating li a:hover {
  background: url(images/stars.gif) left bottom;
  z-index: 2;
  left: 0px;
}

.star-rating a:focus,
.star-rating a:active {
  border:0;
  -moz-outline-style: none;
  outline: none;
}

.star-rating a.one-star {
  left: 0px;
}

.star-rating a.one-star:hover {
  width:25px;
}

.star-rating a.two-stars {
  left:25px;
}

.star-rating a.two-stars:hover {
  width: 50px;
}

.star-rating a.three-stars {
  left: 50px;
}

.star-rating a.three-stars:hover {
  width: 75px;
}

.star-rating a.four-stars {
  left: 75px;
}

.star-rating a.four-stars:hover {
  width: 100px;
}

.star-rating a.five-stars {
  left: 100px;
}

.star-rating a.five-stars:hover {
  width: 125px;
}

.star-rating li.current-rating{
  background: url(images/stars.gif) left center;
  position: absolute;
  height: 25px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}

@media (min-width: 640px) and (max-width: 1023px) {

  #detail-map {
    margin: 10px 0;
    width: 620px;
    height: 310px;
  }

  #detail-content .details {
    width: 620px;
  }

  #detail-content .title {
    width: 520px;
  }

  .timeline .list-item .information {
    width: 495px;
  }

}

@media (min-width: 480px) and (max-width: 639px) {

  #detail-map {
    margin: 10px 0;
    width: 460px;
    height: 230px;
  }

  #detail-content .details {
    width: 460px;
  }

  #detail-content .title {
    width: 360px;
  }

  .timeline .list-item .information {
    padding: 6px 0 6px 10px;
    width: 335px;
  }

}

@media (min-width: 360px) and (max-width: 479px) {

  #detail-map {
    margin: 10px 0;
    width: 340px;
    height: 170px;
  }

  #detail-content .details {
    width: 340px;
  }

  #detail-content .title {
    width: 240px;
    font-size: 14px;
  }

  #detail-content .categories ul,
  .poi-info .categories ul {
    font-size: 12px;
  }

  #detail-content .categories li,
  .poi-info .categories li  {
    line-height: 18px;
  }

  .poi-info {
    font-size: 14px;
  }

  .t-medium-icon {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    line-height: 18px;
  }

  #detail-content li .t-medium-icon,
  .poi-info .categories li .t-medium-icon {
    margin-top: -2px;
  }

  .timeline .list-item {
    font-size: 14px;
  }

  .timeline .list-item .information {
    padding: 6px 0 6px 10px;
    width: 215px;
  }

}

@media (max-width: 359px) {

  #detail-map {
    display: block;
    margin: 5px 0;
    width: 300px;
    height: 150px;
  }

  #detail-content .details {
    width: 300px;
  }

  #detail-content .title {
    width: 200px;
    font-size: 12px;
  }

  #detail-content .categories ul,
  .poi-info .categories ul {
    font-size: 10px;
  }

  #detail-content .categories li,
  .poi-info .categories li  {
    line-height: 16px;
  }

  .poi-info {
    font-size: 12px;
  }

  .t-medium-icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    line-height: 16px;
  }

  #detail-content li .t-medium-icon,
  .poi-info .categories li .t-medium-icon {
    margin-top: -2px;
  }

  .timeline .list-item {
    font-size: 12px;
  }

  .timeline .list-item .information {
    float: left;
    padding: 5px 2px 4px 5px;
    width: 180px;
    height: 41px;
  }

}