html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 302px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.ui-content {
    padding: 0;
}

.ui-content .ui-listview {
    margin: 0;
}

.ui-bar-a .ui-link,
.ui-bar-a .ui-link:visited {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a.ui-btn:hover {
  color: #fff;
  text-decoration: none;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  color: rgb(184, 184, 184);
}

.nav > li > a.category-filter.out {
  opacity:0.3;
  filter:alpha(opacity=30);
}

.taukkis-logo {
  float: left;
  margin: 5px 0 0 10px;
  display: inline-block;
  width: 67px;
  height: 30px;
  background-size: 67px 30px;
  line-height: 30px;
  vertical-align: center;
  background-repeat: no-repeat;
  background-image: url('images/taukkis-logo.png');
}

#destination-content, #error-content {
  margin: 10px;
}

#map {
  display: block;
  position: absolute;
  top: > 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#detail-map {
  display: block;
  margin: 10px 0;
  width: 500px;
  height: 300px;
}


.ui-page .ui-header {
  z-index:1024;
}


.olControlAttribution {
  position      : absolute;
  font-size     : 10px;
  bottom        : 0 !important;
  right         : 0 !important;
  background    : rgba(0,0,0,0.1);
  font-family   : Arial;
  padding       : 2px 4px;
  border-radius : 5px 0 0 0;
}

#detail-content {
  min-width: 260px;
  margin: 20px;
  padding: 10px;
  display: block;
  overflow: visible;
  background: #FFFFFF;
}

#detail #close {
  position: relative;
  top: -20px;
  left: 18px;
  float: right;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

#detail-content .details {
  width: 500px;
}

#detail-content .title {
  width: 400px;
  font-size: 18px;
  font-weight: bold;
}

#detail-content .categories ul {
  margin: 0;
  list-style: none
}

#detail-content .categories li {
  line-height: 24px;
}

#detail-content .time-left {
  margin-top: 10px;
  width: 100px;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #c1c1c1;
}

.error .title {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

/* timeline */

.timeline .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 666;
}

.timeline .list-header {
  position: fixed;
  top: 50px;
  min-width: 302px;
  width: 100%;
  z-index: 1;
  height: 38px;
  border-bottom: 2px solid #c1c1c1;
  background: white;
  clear: both;
}

.timeline .list-header div {
  float: left;
  line-height: 38px;
  font-size: 16px;
  font-weight: bold;
}

.timeline .list-header div:first-child {
  margin-left: 10px;
}

.timeline .road {
  width: 30px;
  border-left: 1px solid #c1c1c1;
  background: #000000 url('images/road.png') repeat-y;
}

.timeline .list-header .road {
  position: relative;
  height: 40px;
}

.timeline .list-header .time {
  float: left;
  width: 100px;
  text-align: center;
  border-left: 1px solid #c1c1c1;
}

.timeline .list-header div:last-child {
  float: right;
}

.timeline .list-items {
  overflow: hidden;
  padding-top: 88px;
}

.timeline .list-item {
  display: block;
  height: 78px;
  position: relative;
  border-bottom: 2px solid #c1c1c1;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.timeline .list-item.passed {
  color: #999;
}

.timeline .list-item .information {
  float: left;
  overflow: hidden;
  padding: 12px 0 8px 10px;
  width: 495px;
}

.timeline .list-item .time {
  float: right;
  width: 100px;
  text-align: center;
  line-height: 78px;
}

.timeline .list-item .road {
  float: left;
  height: 80px;
  border-right: 1px solid #c1c1c1;
}

#destinationSelection {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  /* border: 16px solid orange; */
  background-color: white;
  z-index:1002;
  overflow: auto;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

[class^="t-icon-"],
[class*=" t-icon-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-top: -2px;
  margin-right: 3px;
  line-height: 20px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.t-medium-icon {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  line-height: 24px;
}

.t-icon-gas_station {
  background-image: url('images/gas_station.png');
}

.t-icon-cafe {
  background-image: url('images/cafe.png');
}

.t-icon-kiosk {
  background-image: url('images/kiosk.png');
}

.t-icon-sights {
  background-image: url('images/sights.png');
}

.t-icon-fast_food {
  background-image: url('images/fast_food.png');
}

.t-icon-restaurant {
  background-image: url('images/restaurant.png');
}

.t-icon-swimming_place {
  background-image: url('images/swimming_place.png');
}

.ui-loader {
  position: fixed;
  left: 50%;
  z-index: 99999;
  margin-left: -50px;
  margin-top: -35px;
  padding: 0;
  width: 100px;
  height: 100px;
  background: none;
  border: 0;
}

.ui-loader .ui-icon {
  margin: 16px auto;
  width: 66px;
  height: 66px;
}

.ui-icon-loading {
  background-image: url(images/ajax-loader.gif);
  width: 66px;
  height: 66px;
  background-size: 66px 66px;
}

.fb-comments {
  margin: 14px 0;
}

.star-rating {
  list-style:none;
  margin-left:5px !important;
  padding:0px;
  width: 125px;
  height: 25px;
  position: relative;
  background: url(images/stars.gif) top left repeat-x;
}

.star-rating li {
  padding:0px;
  margin:0px;
  float: left;
}

.star-rating li a {
  display:block;
  width:25px;
  height: 25px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0px;
}

.star-rating li a:hover {
  background: url(images/stars.gif) left bottom;
  z-index: 2;
  left: 0px;
}

.star-rating a:focus,
.star-rating a:active {
  border:0;
  -moz-outline-style: none;
  outline: none;
}

.star-rating a.one-star {
  left: 0px;
}

.star-rating a.one-star:hover {
  width:25px;
}

.star-rating a.two-stars {
  left:25px;
}

.star-rating a.two-stars:hover {
  width: 50px;
}

.star-rating a.three-stars {
  left: 50px;
}

.star-rating a.three-stars:hover {
  width: 75px;
}

.star-rating a.four-stars {
  left: 75px;
}

.star-rating a.four-stars:hover {
  width: 100px;
}

.star-rating a.five-stars {
  left: 100px;
}

.star-rating a.five-stars:hover {
  width: 125px;
}

.star-rating li.current-rating{
  background: url(images/stars.gif) left center;
  position: absolute;
  height: 25px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}

@media (min-width: 640) and (max-width: 1023px) {

  .timeline .list-item .information {
    width: 495px;
  }

}

@media (min-width: 480px) and (max-width: 639px) {

  #detail-map {
    margin: 10px 0;
    width: 440px;
    height: 280px;
  }

  #detail-content .details {
    width: 440px;
  }

  #detail-content .title {
    width: 340px;
  }

  .timeline .list-item .information {
    padding: 6px 0 6px 10px;
    width: 335px;
  }

}

@media (min-width: 360px) and (max-width: 479px) {

  #detail-map {
    margin: 10px 0;
    width: 320px;
    height: 200px;
  }

  #detail-content .details {
    width: 320px;
  }

  #detail-content .title {
    width: 220px;
    font-size: 14px;
  }

  #detail-content .categories ul {
    font-size: 12px;
  }

  #detail-content .categories li {
    line-height: 18px;
  }

  .t-medium-icon {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    line-height: 18px;
  }

  .timeline .list-item {
    font-size: 14px;
  }

  .timeline .list-item .information {
    padding: 10px 5px 8px 10px;
    width: 50%;
  }

}

@media (max-width: 359px) {

  #detail-map {
    display: block;
    margin: 5px 0;
    width: 300px;
    height: 190px;
  }

  #detail-content .details {
    width: 300px;
  }

  #detail-content .title {
    width: 200px;
    font-size: 12px;
  }

  #detail-content .categories ul {
    font-size: 10px;
  }

  #detail-content .categories li {
    line-height: 16px;
  }

  .t-medium-icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    line-height: 16px;
  }
  .timeline .list-item {
    font-size: 12px;
  }

  .timeline .list-item .information {
    float: left;
    padding: 5px 2px 4px 5px;
    width: 180px;
    height: 41px;
  }

}