<div id="message">
<b>Aloita syöttämällä määränpääsi.</b><br/>
Taukkis kertoo parhaat taukopaikat reittisi varrelta!
</div>
<fieldset>
	<div data-role="fieldcontain" class="ui-hide-label">
		<label for="destination-input">Määränpää:</label>
		<input type="text" name="destination-input" id="destination-input" autocomplete="off" autocorrect="off" autocapitalize="off" value="" placeholder="Esimerkiksi 'Oulu', 'Kauppakatu Kuopio' tai 'Kotkan satama'"/>
	</div>
	 <button type="submit" class="button" id="destinationSubmit" data-role="button" data-ajax="false">Hae</button>
</fieldset>