<div class="content">
	<a href="#" id="close" class="right">X</a>
	<div class="map"><img src="#" width="300" height="100"/></div>

	<div class="time-left right">9 min</div>

	<div class="details">
		<div class="title">Kullijärvi</div>
		<div class="categories">
			<ul>
				<li><i class="icon-stop"></i> Ou</li>
				<li><i class="icon-stop"></i> My</li>
				<li><i class="icon-stop"></i> Fcking</li>
				<li><i class="icon-stop"></i> GOD</li>
			</ul>
		</div>
	</div>

	<div class="comments"></div>
	<div class="stars"</div>
</div>