<div data-id="<%= location.id %>">
	<div id="detail-map"></div>

	<div class="details">
		<div class="time-left right" timer="<%= location.time %>"><%= utils.formatTime(location.time) %></div>
		<!--<div class="time-left right"><%= utils.formatDistance(location.distance) %></div>-->

		<div class="title"><%= location.title %></div>
		<div class="categories">
			<ul>
<% if(!_.isUndefined(location.category)  && !$.isArray(location.category)) { %>
					<li><i class="t-icon-<%= location.category %> t-medium-icon"></i> <%= utils.getCategory(location.category).name %></li>
<% } else {
$.each(location.categories, function(j, category) { %>
					<li><i class="t-icon-<%= category %> t-medium-icon"></i> <%= utils.getCategory(category).name %></li>
<% });} %>
			</ul>
		</div>
	</div>

	<div class="comments"></div>
	<div class="stars"</div>
</div>