<% console.log(location) %>
<div data-id="<%= location.id %>">
	<div id="detail-map"></div>

	<div class="details">
		<div class="time-left right"><%= utils.formatTime(location.time) %></div>

		<div class="title"><%= location.title %></div>
		<div class="categories">
			<ul>
<% if(!_.isUndefined(location.category)  && !$.isArray(location.category)) { %>
					<li><i class="t-icon-<%= location.category %> t-medium-icon"></i> <%= utils.getCategory(location.category).name %></li>
<% } else {
$.each(location.categories, function(j, category) { %>
					<li><i class="t-icon-<%= category %> t-medium-icon"></i> <%= utils.getCategory(category).name %></li>
<% });} %>
			</ul>
		</div>
	</div>

<!--
	<ul class='star-rating'>
		<li class='current-rating' id='current-rating' style="width: <%= location.rating %>px"></li>
		<li><a href="#" data-stars="1" title='1/5' class='star-rate one-star'>1</a></li>
		<li><a href="#" data-stars="2" title='2/5' class='star-rate two-stars'>2</a></li>
		<li><a href="#" data-stars="3" title='3/5' class='star-rate three-stars'>3</a></li>
		<li><a href="#" data-stars="4" title='4/5' class='star-rate four-stars'>4</a></li>
		<li><a href="#" data-stars="5" title='5/5' class='star-rate five-stars'>5</a></li>
	</ul>
-->

	<div class="comments"></div>

</div>