<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">Apps4Finlands</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="add-menu"><a href="#home"><i class="icon-edit icon-white"></i>Home</a></li>
                </ul>

                <ul class="nav pull-right">
                    <li class="about-menu"><a href="#home">Home</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Main libraries</li>
                            <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
                            <li><a href="http://backbonejs.org/" target="_blank">Backbone.js</a></li>
                            <li><a href="http://documentcloud.github.com/underscore/" target="_blank">Underscore.js</a></li>
                            <li><a href="http://requirejs.org/" target="_blank">RequireJS</a></li>
                            <li><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>