    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </a>
          <span class="brand">
            Taukkis
          </span>
<% if(utils.route != null && utils.locations != null) { %>
          <div class="nav-collapse">
            <ul class="nav nav-list">
              <li class="nav-header">Näkymät</li>
              <li>
                <a href="#route">
                  <i class="icon-road icon-white"></i> Reitti
                </a>
              </li>
              <li>
                <a href="#timeline">
                  <i class="icon-time icon-white"></i> Aikajana
                </a>
              </li>
              <li class="divider"></li>
              <li class="nav-header">Kategoriat</li>
              <li>
                <a href="#" data-category="gas_station" class="category-filter">
                  Huoltoasemat
                </a>
              </li>
              <li>
                <a href="#" data-category="cafe" class="category-filter">
                  Kahvilat
                </a>
              </li>
              <li>
                <a href="#" data-category="kiosk" class="category-filter">
                  Kioskit
                </a>
              </li>
              <li>
                <a href="#" data-category="sights" class="category-filter">
                  Nähtävyydet
                </a>
              </li>
              <li>
                <a href="#" data-category="fast_food" class="category-filter">
                  Pikaruokalat
                </a>
              </li>
              <li>
                <a href="#" data-category="restaurant" class="category-filter">
                  Ravintolat
                </a>
              </li>
              <li class="divider"></li>
              <li class="nav-header">Muut</li>
              <li>
                <a href="#destination">
                  <i class="icon-edit icon-white"></i> Aloita alusta
                </a>
              </li>
              <li>
                <a href="#information">
                  <i class="icon-info-sign icon-white"></i> Tietoja
                </a>
              </li>
            </ul>
          </div>
<% } %>
        </div>
      </div>
    </div>