    <div id="map"></div>

    <div data-role="page" id="mappage">
      <div data-role="content">

      </div>

      <div data-role="controlgroup" data-type="horizontal" id="buttons">

        <select name="mapSelect" id="mapSelect" data-native-menu="false">
          <option data-placeholder="true">Valitse kartta</option>
          <option value="mapQuest">Peruskartta (MapQuest)</option>
          <option value="mmlMaastoKartat">Maastokartta (MML)</options>
        	<option value="osmCycle">Pyöräilykartta (OSM)</option>
          <option value="bingHybrid">Ilmakuvat (Bing)</option>
        </select>
        <a href="#popupBasic" data-role="button"
              data-transition="pop" data-rel="popup">Kohteet kartalla</a>
      </div>

      <div data-role="popup" id="popupBasic">
        <ul data-role="listview">
  	      <li data-role="fieldcontain">
          	<fieldset data-role="controlgroup">
	  	  			<input type="radio" name="poi-choice" id="alkoLayer" class="custom" />
	  	  			<label for="alkoLayer">Alkot</label>

              <input type="radio" name="poi-choice" id="lolnasLayer" class="custom" />
  	  				<label for="lolnasLayer">Lounaat (Helsinki)</label>
	  		    </fieldset>
	  	  	</li>
        </ul>
      </div>

      <div id="pan">
        <div data-role="controlgroup" data-type="vertical">
          <a href="#" data-role="button" data-icon="arrow-u" id="up" data-iconpos="notext" data-inline="true"></a>
          <div id="leftright" data-role="controlgroup" data-type="horizontal">
            <a href="#" data-role="button" data-icon="arrow-l" id="left" data-iconpos="notext" data-inline="true"></a>
            <a href="#" data-role="button" data-icon="arrow-r" id="right" data-iconpos="notext" data-inline="true"></a>
          </div>
          <a href="#" data-role="button" data-icon="arrow-d" id="down" data-iconpos="notext" data-inline="true"></a>
        </div>
      </div>

      <div id="navigation">
        <div data-role="controlgroup" data-type="vertical">
          <a href="#" data-role="button" data-icon="plus" id="plus" data-iconpos="notext"></a>
          <a href="#" data-role="button" data-icon="minus" id="minus" data-iconpos="notext"></a>
        </div>
        <div data-role="controlgroup">
          <a href="#" data-icon="locate" data-role="button" id="locate" data-iconpos="notext"></a>
        </div>
      </div>

      <div id="popUpContainer" data-role="popup" data-transition="flip">
        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <div id="popUpHeader" data-role="header">
        </div>
        <div id="popUpContent" data-role="content">
        </div>
        <div id="popUpFooter" data-role="footer">
        </div>
      </div>

    </div>