<div class="list-header">
	<div>Taukopaikka</div>
	<div>
		<div class="road"></div>
		<div class="time">Aika</div>
	</div>
</div>

<div class="list-items">

<% $.each(locations, function(i, location) {
	location.title = location.title.split("Puh.")[0];
	location.title = location.title.replace('"', "");
%>
	<a href="#detail?id=<%= location.id %>" data-id="<%= location.id %>" class="list-item <%= (location.time > 0) ? "" : "passed"%>">
		<div class="information left">
			<div class="categories right">
				<i class="t-icon-<%= location.category %> t-medium-icon"></i>
			</div>
			<div class="title"><%= location.title %></div>
		</div>
		<div class="time-info right">
			<div class="road"></div>
			<!--<div class="time"><%= utils.formatDistance(location.distance) %></div>-->
			<div class="time" timer="<%= location.time %>"><%= utils.formatTime(location.time) %></div>
		</div>
	</a>
<% });
%>

</div>