<div class="list-header">
	<div>Taukopaikka</div>
	<div>
		<div class="road"></div>
		<div class="time">Aika</div>
	</div>
</div>

<div class="list-items">

<% $.each(locations, function(i, location) { %>
	<a href="#detail?id=<%= location.id %>" class="list-item <%= (location.time > 0) ? "" : "passed"%>">
		<div class="information">
			<div class="title"><%= location.title %></div>
			<div class="categories">
				<i class="icon-<%= location.category %>"></i>
			</div>
		</div>
		<div class="right">
			<div class="road"></div>
			<div class="time"><%= location.time %></div>
		</div>
	</a>
<% });
%>

</div>